@font-face {
	font-family: "Gilroy";
	src:
	url("../fonts/gilroyextrabold.woff2") format("woff2"),
	url("../fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src:
	url("../fonts/gilroylight.woff2") format("woff2"),
	url("../fonts/gilroylight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src:
	url("../fonts/opensans.woff2") format("woff2"),
	url("../fonts/opensans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src:
	url("../fonts/opensanslight.woff2") format("woff2"),
	url("../fonts/opensanslight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.2px;
	color: #464646;
}
a {
	text-decoration: none;
}
.container {
	width: 1160px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/* Хедер  */

.main-header .container {
	padding: 0 60px;
	background-color: #f7e296;
	padding-bottom: 50px;
}
.main-header_inner .container {
    padding-bottom: 47px;
}
.main-header {
	margin-top: 40px;
}
.logo {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 48px;
	font-weight: 800;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
.header-logo {
	position: relative;
	top: -5px;
	right: 2px;
	line-height: 1px;
	color: #000000;
}
.header-logo:hover {
	opacity: 0.6;
}
.header-logo:active {
	opacity: 0.3;
}
.main-nav {
	padding-top: 9px;
}
.header-user-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 32px;
}
.site-search {
	display: block;
	min-height: 30px;
	width: 334px;
	padding-left: 38px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.2px;
	color: #000000;
	opacity: 0.3;
	background: transparent;
	border: none;
}
.site-search-form::before {
	content: "";
	position: absolute;
	top: 30%;
	left: 3px;
	width: 20px;
	height: 20px;
	background: url(../img/search.svg) no-repeat;
}
.site-search:hover {
	opacity: 0.6;
}
.site-search:focus {
	opacity: 1;
	outline: none;
}
.site-search-form {
	position: relative;
	width: 440px;
	margin-right: auto;
}
.site-search-btn {
	display: none;
	position: absolute;
	top: -9px;
	right: 7px;
	width: 85px;
	padding: 6px 0;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.2px;
	color: #000000;
	background: transparent;
	border: 2px solid #000000;
	cursor: pointer;
}
.site-search:focus + .site-search-btn, .site-search-btn:active {
	display: block;
}

.site-search-btn:hover {
	background: #000000;
	color: #ffffff;
}
.site-search-btn:active {
	background: #000000;
	color: #6a6a6a;
	outline: none;
}
.site-search-btn::before {
	content: "";
	position: absolute;
	bottom: -2px;
    right: 100%;
	width: 355px;
	height: 2px;
	background: #000000;
}
.user-panel a {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.2px;
}

.login {
	margin-right: 214px;
}
.login a::before,
.header-user-name a::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 13px;
	height: 12px;
	margin-right: 13px;
	background: url(../img/user.svg) 50% 50% no-repeat;
}

.header-user-panel a{
	color: #000000;
}
.header-user-panel a:hover{
	opacity: 0.6;
}
.header-user-panel a:active {
	opacity: 0.3;
}
.header-user-panel .header-user-name {
	margin-right: 18px;
}
.header-compare {
	margin-right: 41px;
}
.header-compare a::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 13px;
	height: 12px;
	margin-right: 9px;
	background: url(../img/compare.svg) 50% 90% no-repeat;
}
.header-cart a::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 13px;
	height: 12px;
	margin-right: 9px;
	background: url(../img/cart.svg) 50% 50% no-repeat;
}
.header-logout  {
	margin-right: 62px;
}
.header-logout a {
	opacity: 0.3;
}
.header-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu-item {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}
.header-menu>li:first-child {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: auto;
}
.dropdown::after {
	content: "";
	-webkit-transform: translateY(7px);
	    -ms-transform: translateY(7px);
	        transform: translateY(7px);
	margin-left: 10px;
	width: 16px;
	height: 16px;
    background: url(../img/plus.svg) 50% 50% no-repeat;
    opacity: 0.3;
    cursor: pointer;
}
.header-menu>li:nth-child(2) {
	margin-right: 34px;
}
.header-menu>li:nth-child(3) {
	margin-right: 105px;
}
.header-menu>li:nth-child(4) {
	-webkit-transform: translateX(4px);
	    -ms-transform: translateX(4px);
	        transform: translateX(4px);
}
.header-menu>li>a {
	display: block;
}
.header-menu-item>a:hover, 
.submenu-item a:hover {
	opacity: 0.6;
}
.header-menu-item>a:active,
.submenu-item a:active {
	opacity: 0.3;
}
.header-menu-item a {
	color: #000000;
}
.dropdown:hover .submenu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	position: absolute;
	top: 90%;
	left: -24%;
	background: #f7e296;
	z-index: 11;
}
.submenu {
	display: none;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-left: 56px;
	padding-right: 400px;
	padding-bottom: 35px;
	width: 1159px;
	list-style: none;
}
.submenu-item {
	width: 200px;
	margin-right: 40px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.2px;
	line-height: 36px;
}
.submenu .submenu-item {
	text-transform: none;
}
.submenu-item:nth-child(2) {
	width: auto;
	margin-right: 75px;
}
.submenu-item:nth-child(3) {
	margin-right: 0;
}
.submenu-item:nth-child(5) {
	margin-right: 100px;
}

/*  Основное содержимое  */

.slider-wrapper {
	position: relative;
	margin-bottom: 105px;
}
.slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: -webkit-linear-gradient(top, #f7e296 111px, #ffffff 111px);
	background: -o-linear-gradient(top, #f7e296 111px, #ffffff 111px);
	background: linear-gradient(to bottom, #f7e296 111px, #ffffff 111px);
	min-height: 486px;
}
.slider::after {
	content: "";
	position: absolute;
    top: 7.5%;
    right: 39.6%;
	width: 100px;
	height: 7px;
	background: #ffffff;
}
.first-slider {
	position: relative;
	padding-left: 90px;
}
.second-slider {
	position: relative;
	padding-left: 116px;
}
.third-slider {
	position: relative;
	padding-left: 34px;
	z-index: 10;
}
.slider-wrapper section[class*="-slider"]::before {
	position: absolute;
	font-size: 179.2px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	line-height: 1;
	letter-spacing: 1.8px;
	text-align: right;
	color: #ffffff;
}
.first-slider::before {
	content: "01";
	top: -3%;
	right: 4%;
}
.second-slider::before {
	content: "02";
	top: -3%;
	right: 4%;
}
.third-slider::before {
	content: "03";
	top: -3%;
	right: 4%;
}
.first-slider-img {
	margin-right: 125px;
}
.second-slider-img {
	margin-right: 138px;
}
.third-slider-img {
	margin-right: 39px;
}
.slider-slogan {
	margin: 0 0 18px;
}
.category-title {
	margin: 0 0 13px;
}
.slider-slogan, 
.category-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	line-height: 57px;
	font-weight: 800;
	letter-spacing: 0.5px;
	color: #000000;
} 
.page-link {
	padding: 10px 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 3.6px;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ffffff), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, #ffffff));
	background: -webkit-linear-gradient(top, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
	background: -o-linear-gradient(top, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
	background: linear-gradient(to bottom, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
	color: #000000;
	border: none;
}

.page-link:hover {
	background: #f0c52e;
}
.page-link:active {
	color: #a88a20;
}
.slider-info {
	width: 509px;
	padding-top: 78px;
	z-index: 10;
}
.slider-info .page-link {
	display: block;
	width: 220px;
	margin-bottom: 46px;
	margin-left: 2px;
}
.device-characteristics {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.device-property {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-right: 77px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.54;
	letter-spacing: 0.1px;
}
.device-property b {
	font-weight: inherit;
}
.device-property:last-child {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-right: 0;
}
.device-definition {
	display: block;
	-ms-flex-preferred-size: 58px;
	    flex-basis: 58px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 0.4px;
	color: #000000;
}
.slider-desc {
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
	width: 490px;
	min-height: 90px;
}
/* Ассортимент товаров */

.goods-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}
.goods {
	margin-bottom: 164px;
}
.goods-image {
	position: relative;
	width: 160px;
	height: 160px;
	background-color: #f7e296;
}
.goods-list li .goods-image::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
}
.goods-list li:active .goods-image::before {
  opacity: 0.3;
}
.goods-list li:first-child .goods-image::before {
  background: url(../img/popular-1.svg) 49.5% 49.5% no-repeat;
}
.goods-list li:nth-child(2) .goods-image::before {
  background: url(../img/popular-2.svg) 52% 95% no-repeat;
}
.goods-list li:nth-child(3) .goods-image::before {
  background: url(../img/popular-3.svg) 55% 51% no-repeat;
}
.goods-list li:nth-child(4) .goods-image::before {
  background: url(../img/popular-4.svg) 53% 53% no-repeat;
}
.goods-list li:nth-child(5) .goods-image::before {
	background: url(../img/popular-5.svg) 53% 51% no-repeat;
}
.goods-list li:nth-child(6) .goods-image::before {
	background: url(../img/popular-6.svg) 48% 54% no-repeat;
}

.goods-image:hover {
	background-color: #f0c52e;
}
.goods-item {
	width: 160px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0.2px;
}
.goods-item a {
	color: #000000;
}
.goods-item h3 {
	margin: 34px 0 0;
	font: inherit;
	line-height: 22px;
}
.goods-item a:active h3 {
	opacity: 0.3;
}
.features {
	background: -webkit-linear-gradient(top, #ffffff 20px, #e5e5e5 20px);
	background: -o-linear-gradient(top, #ffffff 20px, #e5e5e5 20px);
	background: linear-gradient(to bottom, #ffffff 20px, #e5e5e5 20px);
	padding-bottom: 139px;
	margin-bottom: 94px;
}
.features .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.features-list {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 169px;
	margin: 0;
	margin-right: 120px;
	padding: 0;
	list-style: none;
}
.features-list::after {
	content: "";
	position: absolute;
	top: -47%;
	right: -1.5%;
	width: 7px;
	height: 320px;
	background: #000000
}
.features-btn {
	display: block;
	width: 160px;
	padding: 4px 0 6px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 3.6px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #e5e5e5), color-stop(40%, #f0c52e), color-stop(55%, #f0c52e),color-stop(55%, #e5e5e5));
	background: -webkit-linear-gradient(top, #e5e5e5 40%, #f0c52e 40%, #f0c52e 55%,#e5e5e5 55%);
	background: -o-linear-gradient(top, #e5e5e5 40%, #f0c52e 40%, #f0c52e 55%,#e5e5e5 55%);
	background: linear-gradient(to bottom, #e5e5e5 40%, #f0c52e 40%, #f0c52e 55%,#e5e5e5 55%);
	color: #000000;
	border: none;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}
.features-btn-1 {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, #f0c52e), color-stop(55%, #f0c52e),color-stop(55%, #e5e5e5));
	background: -webkit-linear-gradient(top, transparent 40%, #f0c52e 40%, #f0c52e 55%,#e5e5e5 55%);
	background: -o-linear-gradient(top, transparent 40%, #f0c52e 40%, #f0c52e 55%,#e5e5e5 55%);
	background: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 55%,#e5e5e5 55%);
}
.features-btn:hover {
	background: #f0c52e;
}
.features-btn-active,
.features-btn-active:hover {
	width: 280px;
	padding: 4px 137px 6px 20px;
	background: #000000;
	color: #f7e184;
}
.features div[class^="features-"] {
	position: relative;
	width: 460px;
	padding-top: 2px;
}
.features .features-delivery::after {
	content: "";
	position: absolute;
	right: -52%;
	top: 3%;
	width: 140px;
	height: 160px;
	background: url(../img/delivery.svg) no-repeat;
}
.features .features-warranty::after {
	content: "";
	position: absolute;
	width: 171px;
	height: 195px;
	right: -58%;
    top: -10%;
	background: url(../img/warranty.svg) no-repeat;
}
.features .features-credit::after {
	content: "";
	position: absolute;
	width: 156px;
	height: 188px;
	right: -52%;
    top: -10%;
	background: url(../img/credit.svg) no-repeat;
}
.features-info-list {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	list-style: none;
}
.features-info-list li {
	width: 460px;
	padding-top: 7px;
}

.features .section-title {
	margin-bottom: 40px;
	padding-left: 3px;
}
.section-title {
	margin: 0;
	padding: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	font-weight: 800;
	letter-spacing: 0.5px;
	color: #000000;
}
.section-text {
	margin: 0;
	padding: 0;
}
.manufacturers {
	margin-bottom: 145px;
}
.manufacturers-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}
.manufacturer-image-colorless {
	opacity: 0.2;
}
.manufacturer a {
	display: block;
}
.manufacturer-image {
	display: none;
}
.manufacturers-list a:hover .manufacturer-image {
	display: block;
}
.manufacturers-list a:hover .manufacturer-image-colorless {
	display: none;
}
.btn-contacts {
	border: none;
}
.about-and-contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 81px;
}
.about {
	position: relative;
	width: 490px;
	margin-right: 108px;
}
.contacts {
	position: relative;
	width: 562px;
}
.about::before, .contacts::before {
	content: "";
	position: absolute;
	top: -12%;
	left: 0;
	width: 80px;
	height: 7px;
	background: #000000;
}
.about-and-contacts .section-title {
	margin-bottom: 52px;
}
.about-and-contacts .section-text {
	margin-bottom: 39px;
}
.about .section-text {
	margin-bottom: 30px;
}
.about .section-text:nth-of-type(2) {
	margin-bottom: 65px;
}
.partners {
	margin-bottom: 55px;
	padding: 0;
	list-style: none;
}
.partner-item {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: 800;
}
.partner-item::before {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    width: 8px;
    height: 8px;
    background: url(../img/partners-item-disk.svg) 50% 50% no-repeat;
    opacity: 0.3;
    margin-right: 26px;
}
.about .page-link {
	display: block;
	width: 260px;
}
.contacts .page-link {
	width: 260px;
	margin-left: 2px;
	cursor: pointer;
}

/*  Содержимое каталога  */
.catalog > .container {
	padding-left: 60px;
	padding-top: 33px;
}
.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	list-style: none;
}
.breadcrumbs-item:not(:last-child) {
	margin-right: 18px;
	position: relative;
}
.breadcrumbs-item a {
	opacity: 0.3;
	font-size: 14px;
	line-height: 36px;
}
.breadcrumbs-item:not(:last-child)::after {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 5px;
   height: 7px;
   margin-left: 13px;
   background: url(../img/nav-arrow.svg) 50% 50% no-repeat;
   opacity: 1;
}
.breadcrumbs-item a:hover {
	opacity: 0.6;
}
.breadcrumbs-item a:active {
	opacity: 0.1;
}

/* Верхняя панель каталога */

.filter-panel {
	background: -webkit-gradient(linear, left top, right top, color-stop(25%, #dbdbdb), color-stop(25%, #ebebeb));
	background: -webkit-linear-gradient(left, #dbdbdb 25%, #ebebeb 25%);
	background: -o-linear-gradient(left, #dbdbdb 25%, #ebebeb 25%);
	background: linear-gradient(to right, #dbdbdb 25%, #ebebeb 25%);
}
.filter-panel .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    padding: 20px 0 20px 60px;
	background: -webkit-gradient(linear, left top, right top, color-stop(28.3%, #dbdbdb), color-stop(28.3%, #ebebeb));
	background: -webkit-linear-gradient(left, #dbdbdb 28.3%, #ebebeb 28.3%);
	background: -o-linear-gradient(left, #dbdbdb 28.3%, #ebebeb 28.3%);
	background: linear-gradient(to right, #dbdbdb 28.3%, #ebebeb 28.3%);
}
.sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	width: 760px;
}
.sort-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sort-list li:nth-child(1) {
	width: 60px;
	margin-right: 20px;
}
.sort-list li:nth-child(2) {
	width: 80px;
}
.sort-list li:nth-child(3) {
	width: 140px;
	text-align: center;
	margin-right: 200px;
}
.sort-list a {
	font-size: 14px;
	line-height: 1.29;
	color: #000000;
	opacity: 0.3;
}
.sort-list a:hover {
	opacity: 0.6;
}
.sort-list a:active,
.sort-list .sort-link-active {
	opacity: 1;
}
.filters-title, 
.sort-title {
	margin: 0;
	padding: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 3.2px;
	text-transform: uppercase;
	color: #000000;
}
.filters-title {
	width: 267px;
}
.sort-title {
	width: 160px;
	margin-right: 40px;
}

/* Стрелочки каталога вверх\вниз */
.sort-switch {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 41px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: auto;
}
.switch-up {
	width: 11px;
	height: 10px;
	background: url(../img/icon-up-dir.svg) no-repeat;
	opacity: 0.2;
}
.switch-down {
	width: 11px;
	height: 10px;
	background: url(../img/icon-down-dir.svg) no-repeat;
	opacity: 1;
}
.sort-switch a:hover {
	opacity: 0.4;
}
.sort-switch a:active {
	opacity: 1;
}
.goods-catalog {
	background: -webkit-gradient(linear, left top, right top, color-stop(37%, #ebebeb), color-stop(37%, #ffffff));
	background: -webkit-linear-gradient(left, #ebebeb 37%, #ffffff 37%);
	background: -o-linear-gradient(left, #ebebeb 37%, #ffffff 37%);
	background: linear-gradient(to right, #ebebeb 37%, #ffffff 37%);
}
.goods-catalog .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 59px;
	background: -webkit-gradient(linear, left top, right top, color-stop(28.3%, #ebebeb), color-stop(28.3%, #ffffff));
	background: -webkit-linear-gradient(left, #ebebeb 28.3%, #ffffff 28.3%);
	background: -o-linear-gradient(left, #ebebeb 28.3%, #ffffff 28.3%);
	background: linear-gradient(to right, #ebebeb 28.3%, #ffffff 28.3%);
}

/* Фильтры каталога */
.filters {
	padding-top: 70px;
}
.filters .filter-form {
	width: 267px;
}
.filter-color label::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 22px;
    height: 22px;
    border: 2px solid #000;
    border-radius: 2px;
}
.filter-item input[type="checkbox"]:disabled + label {
	opacity: 0.25;
}

.filter-item input[type="checkbox"]:checked + label::after {
	content: "";
	position: absolute;
	top: -11%;
    left: 5%;
	width: 22px;
	height: 20px;
	background: url(../img/tick.png) 50% 50% no-repeat;
}
.filter-bluetooth label::before {
    content: "";
    position: absolute;
    left: -1px;
    bottom: -2px;
    width: 25px;
    height: 25px;
    border: 4px solid #000000;
    border-radius: 50%;
}
.filter-item input[type="radio"]:checked + label:after {
	content: "";
    position: absolute;
    top: 23%;
    left: 11.5%;
    width: 9px;
    height: 9px;
    background-color: #000000;
    border-radius: 50%;
}
.filter-item input[type="radio"]:checked + label[for="bluetooth-available"]:after {
	left: 10.5%;
}
.filter-form fieldset {
	border: none;
	margin: 0;
	padding: 0
}
.filter-form .filter-price {
	margin-bottom: 28px;
}
.filter-form .filter-color {
	margin-bottom: 31px;
}
.filter-form .filter-bluetooth {
	margin-bottom: 30px;
}
.filter-form  .filter-type-name_bluetooth {
    margin-bottom: 10px;
}
.filter-form legend {
	width: 200px;
	padding: 6px 0;
	color: #000000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0.2px;
	border-top: 2px solid #000000;
}
.filter-form .filter-type-name_color {
	margin-bottom: 9px;
}
.filter-form .filter-item {
	margin: 0;
	padding: 0;
}
.filter-form label {
	position: relative;
	padding-left: 39px;
	font-size: 14px;
	line-height: 40px;
	color: #000000;
	cursor: pointer;
}
.filter-form label:hover::before,
.filter-form label:hover::after {
   opacity: 0.6;
}
.filter-form label:active::before,
.filter-form label:active::after {
   opacity: 1;
}

.show-item-btn {
	width: 200px;
	margin: 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #EBEBEB), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, #EBEBEB));
	background: -webkit-linear-gradient(top, #EBEBEB 40%, #f0c52e 40%, #f0c52e 60%, #EBEBEB 60%);
	background: -o-linear-gradient(top, #EBEBEB 40%, #f0c52e 40%, #f0c52e 60%, #EBEBEB 60%);
	background: linear-gradient(to bottom, #EBEBEB 40%, #f0c52e 40%, #f0c52e 60%, #EBEBEB 60%);
}
.price-range {
	position: relative;
	width: 200px;
	height: 2px;
	margin-top: 26px;
	margin-bottom: 40px;
	background: -webkit-gradient(linear, left top, right top, color-stop(60%, #91c92f), color-stop(60%, #dbdbdb));
	background: -webkit-linear-gradient(left, #91c92f 60%, #dbdbdb 60%);
	background: -o-linear-gradient(left, #91c92f 60%, #dbdbdb 60%);
	background: linear-gradient(to right, #91c92f 60%, #dbdbdb 60%);
}
.price-roller {
	position: absolute;
	bottom: -8px;
	width: 20px;
	height: 20px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 2px #ababab;
	        box-shadow: 0 2px 2px #ababab;
	cursor: pointer;
} 
.price-roller:active {
	-webkit-transform: scale(1.25);
	    -ms-transform: scale(1.25);
	        transform: scale(1.25);
}
.price-roller_right {
  left: 54%;
}
.price-roller_left {
left: -2.5%;
}
.price-range span[class$="price"] {
	position: absolute;
	top: 12px;
    font-family: "Gilroy", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	opacity: 0.2;
}
.lowest-price {
	
}
.highest-price {
	left: 45%;
}

/* Карточки товаров */
.products {
	padding-top: 69px;
}
.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 760px;
	margin: 0 0 38px 74px;
	padding: 0;
	list-style: none;
}
.catalog-item:not(:nth-child(3)):not(:nth-child(4)) {
	margin-bottom: 49px;
}
.product-card {
	position: relative;
}
.product-card.new::after {
	content: "NEW";
	position: absolute;
	top: 6.3%;
	right: 7.3%;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border: 2px solid #000000;
	border-radius: 50%;
	font-size: 14px;
	font-family:  "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	color: #000000;
	text-align: center;
	opacity: 0.1;
}
.product-inner-panel {
	display: none;
	position: absolute;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	top: 42%;
	left: 22%;
	
}
.product-card-basket {
	width: 200px;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(38%, transparent), color-stop(33%, #f0c52e), color-stop(63%, #f0c52e), color-stop(63%, transparent));
	background: -webkit-linear-gradient(top, transparent 38%, #f0c52e 33%, #f0c52e 63%, transparent 63%);
	background: -o-linear-gradient(top, transparent 38%, #f0c52e 33%, #f0c52e 63%, transparent 63%);
	background: linear-gradient(to bottom, transparent 38%, #f0c52e 33%, #f0c52e 63%, transparent 63%);
}
.product-card:hover {
	cursor: pointer;
}
.product-card:hover .product-inner-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.product-card:hover .product-image {
	opacity: 0.7;
}
.product-card img {
	margin-bottom: 24px;
}
.catalog-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.product-card-title {
	margin: 0;
	padding: 0;
	width: 260px;
	line-height: 1.2;
}
.product-card-title a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0.2px;
	text-align: left;
	color: #000000;
}
.product-card-price {
	padding-top: 2px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.2px;
	line-height: 1.2;
	text-align: left;
	color: #000000;
}
.product-card-compare {
	font-size: 13px;
	font-family: "Open Sans", "Arial", sans-serif;
	line-height: 36px;
	letter-spacing: 0.1px;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
	border: none;
	background: transparent;
	outline: none;
	cursor: pointer;
}
.product-card-compare:hover {
	color: rgba(0, 0, 0, 1);
}
.product-card-compare:active {
	color: rgba(0, 0, 0, 0.2);
}
.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 75px;
	margin-bottom: 76px;
	padding: 0;
	list-style: none;
	background: #ebebeb;
}
.pagination-item.back {
	margin-right: 192px;
}
.pagination-item.forward {
	margin-left: auto;
}
.page-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	list-style: none;
}
.pagination-item a {
	display: block;
	padding: 21px 30px 20px 30px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 3.2px;
	text-align: left;
	color: #000000;
	text-transform: uppercase;
}
.pagination-item.forward a {
	padding-right: 27px;
}
.page-list-item a {
	padding: 22px 14.7px 18px;
	opacity: 0.3;
}
.page-list-item.current a {
	opacity: 1;
}
.page-list-item a:active {
	opacity: 1;
}
.page-list-item:last-child a {
	margin-right: 0;
}
.pagination-item a:hover {
	opacity: 0.6;
}
.pagination-item a:active {
	opacity: 1;
}
.pagination-list .back:hover,
.pagination-list .forward:hover {
	background: #d9d9d9;
}
.pagination-list .back a:active,
.pagination-list .forward a:active {
	color: rgba(0, 0, 0, 0.3);
}

/* Механизм слайдера */
.slider-wrapper input[type="radio"] {
	display: none;
}
.second-slider, .third-slider {
	display: none;
}
.second-switcher:checked ~ .second-slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.second-switcher:checked ~ .first-slider {
	display: none;
}
.third-switcher:checked ~ .third-slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.third-switcher:checked ~ .first-slider {
	display: none;
}

/* Переключатели слайда */

.slider-switch {
	position: absolute;
	right: 7.1%;
	bottom: 30.2%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 78px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	z-index: 100;
}
.slider-switcher{
	display: block;
	width: 12px;
	height: 12px;
	background: url(../img/slider-button-empty.svg) no-repeat;
	background-size: cover;
	cursor: pointer;
}
.first-switcher:checked ~ .slider-switch label[for="first-switcher"] {
	background: url(../img/slider-button.svg) no-repeat;
	background-size: cover;
}
.second-switcher:checked ~ .slider-switch label[for="second-switcher"] {
	background: url(../img/slider-button.svg) no-repeat;
	background-size: cover;
}
.third-switcher:checked ~ .slider-switch label[for="third-switcher"] {
	background: url(../img/slider-button.svg) no-repeat;
	background-size: cover;
}

/* Механизм работы переключения преимуществ */

.features-warranty, .features-credit {
	display: none;
}
.features input[type="radio"] {
	display: none;
}
.second-feature:checked ~ .features-warranty {
	display: block;
}
.second-feature:checked ~ .features-delivery {
	display: none;
}
.third-feature:checked ~ .features-credit {
	display: block;
}
.third-feature:checked ~ .features-delivery {
	display: none;
}

/*  Футер  */

.main-footer {
	background: #464646;
}
.main-footer .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 63px 0; 
}
.footer-logo-and-adress {
	width: 260px;
	margin-right: 105px;
}
.footer-logo-and-adress::after {
    content: "";
    display: block;
    width: 80px;
    height: 7px;
    background: #ffc600;
}
.footer-menu-and-social {
	width: 430px;
	padding-top: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.footer-right-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	margin-left: auto;
}
.main-footer a{
	color: #ffffff;
}
.main-footer .footer-logo {
	color: #ffc600;
}
.footer-logo-wrapper {
	margin-bottom: 22px;
	padding-top: 5px;
	-webkit-transform: translateX(-3px);
	    -ms-transform: translateX(-3px);
	        transform: translateX(-3px);
}
.footer-logo:hover {
	opacity: 0.6;
}
.footer-logo:active {
	opacity: 0.3;
}
.footer-address {
	margin-bottom: 77px;
	color: #ffffff;
	font-style: normal;
}
.footer-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	list-style: none;
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
}
.footer-phone {
	margin: 0;
	padding: 0;
	margin-bottom: 62px;
}
.footer-copyright {
	margin: 0;
	padding: 0;
}
.footer-copyright img {
	width: 27px;
	height: 35px;
	opacity: 1;
}
.footer-copyright a:hover img {
	opacity: 0.6;
}
.footer-copyright a:active img {
	opacity: 0.3;
}
.footer-menu-item a {
	color: #ffffff;
}
.footer-menu-item a:hover {
	opacity: 0.6;
}
.footer-menu-item a:active {
	opacity: 0.3;
}
.footer-social {
	-ms-flex-item-align: center;
	    align-self: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 165px;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-social img {
	width: 33px;
	height: 33px;
	opacity: 0.3;
}
.footer-social a:hover img {
	opacity: 0.6;
}
.footer-social a:active img {
	opacity: 0.1;
}
.footer-user-interface {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 37px;
}
.footer-user-interface div {
	text-align: right;
}
.footer-user-interface a {
	opacity: 0.7;
}
.footer-user-interface a:hover {
	opacity: 1;
}
.footer-user-interface a:active {
	opacity: 0.3;
}
.footer-login {
margin-right: 40px;
}
.footer-login::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 13px;
	height: 12px;
	background: url(../img/user-yellow.png) 50% 50% no-repeat;
	margin-right: 9px;
}
.footer-login:hover::before {
	opacity: 0.6;
}
.footer-login:active::before {
	opacity: 0.3;
}
.footer-compare {
	margin-right: 40px;
}
.footer-compare::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 13px;
	height: 12px;
	background: url(../img/compare-yellow.png) 50% 50% no-repeat;
	margin-right: 5px;
}
.footer-compare:hover::before {
	opacity: 0.6;
}
.footer-compare:active::before {
	opacity: 0.3;
}
.footer-cart::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 13px;
	height: 12px;
	background: url(../img/cart-yellow.png) 50% 50% no-repeat;
	margin-right: 5px;
}
.footer-cart:hover::before {
	opacity: 0.6;
}
.footer-cart:active::before {
	opacity: 0.3;
}

/*  Форма обратной связи  */
.feedback {
	position: relative;
	width: 960px;
	height: 553px;	
	padding: 100px;
	padding-bottom: 80px;
	margin: auto;
	z-index: 100;
	background-color: #ffffff;
	-webkit-box-shadow: 30px 0 45px -25px #000000, 
	            -30px 0 45px -25px #000000;
	        box-shadow: 30px 0 45px -25px #000000, 
	            -30px 0 45px -25px #000000;
}
.feedback-show {
	display: block;
	-webkit-animation: bounce 0.6s;
	        animation: bounce 0.6s;
}
.feedback-error {
	-webkit-animation: shake 0.6s;
	        animation: shake 0.6s;
}
.feedback label {
	display: block;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1;
	color: #000000;
	margin-bottom: 10px;
}

.feedback-popup-form input{
	width: 360px;
    padding: 17px 20px;
}
.feedback-popup-form textarea {
	width: 760px;
	height: 156px;
}
.name-and-email {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 35px;
}
.name,
.email {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.feedback-popup-form input, .feedback-popup-form textarea {
	background: #f2f2f2;
	border: none;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.29;
	text-align: left;
	color: rgba(70, 70, 70, 0.4);
}
.feedback-popup-form textarea[placeholder],
.feedback-popup-form input::-webkit-input-placeholder { 
	color: rgba(70, 70, 70, 0.4);
}
.feedback-popup-form input:hover,
.feedback-popup-form textarea:hover {
	background: #ebebeb;
}
.feedback-popup-form input:focus,
.feedback-popup-form textarea:focus {
	background: #ffffff;
	color: #464646;
	outline: 3px solid #f7e296;
}
.feedback-popup-form textarea {
	padding: 17px 20px;
	resize: none;
}
.feedback-popup-form textarea::-webkit-input-placeholder:focus,
.feedback-popup-form input::-webkit-input-placeholder:focus { 
	color: #464646;
}
.btn-close {
	position: absolute;
	top: 4%;
	right: 2%;
	margin: 0;
	padding: 0;
	width: 55px;
	height: 55px;
	background-color: #f0c52e;	
	border: none;
	opacity: 0.5;
	border-radius: 50%;
	cursor: pointer;
}
.btn-close::before, 
.btn-close::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 23%;
	background-color: #ffffff;
	width: 30px;
	height: 2px;
}
.btn-close::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.btn-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.btn-close:hover {
	opacity: 1;
}
.btn-close:active {
	opacity: 0.3;
}
.btn-close:focus {
	outline: none;
	-webkit-box-shadow: 0 0 5px 1px #000;
	        box-shadow: 0 0 5px 1px #000;
}

.form-text {
	margin-bottom: 37px;
}
.feedback .btn-send {
	width: 200px;
	margin: 0;
}
.btn-send, .show-item-btn, 
.write-us-btn {
	outline: none;
	cursor: pointer;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

/* Всплывающая карта */
.map-popup {
	display: none;
	position: fixed;
	width: 960px;
	height: 560px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	z-index: 100;
	-webkit-box-shadow: 0 0 19px #ababab;
	        box-shadow: 0 0 19px #ababab;
}
.map-popup-show {
	display: block;
}
.map {
	display: block;
	padding-left: 2px;
	margin-bottom: 60px;
}
.feedback-wrapper {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

}
.feedback-wrapper-show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-animation: bounce 0.6s;
	        animation: bounce 0.6s;
	z-index: 10;
}